<!DOCTYPE html>
<html ng-app='madModule'>
<head>
	<title>Edit in Place</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="java.js"></script>

</head>
<body ng-controller='killerController'>
<form ng-submit='submit()'>
<div class="divBlock">
	<label class="labelFont">Name</label> 
	<p ng-hide='flip[0]' ng-click='click(0)' class="inline pFont">{{data[0]}}</p>
	<input ng-model='data[5]' ng-blur='blur(0)' ng-show='flip[0]' class="input" placeholder='First and Last name'>
</div>

<div class="divBlock">
	<label class="labelFont">Email</label>
	<p ng-hide='flip[1]' ng-click='click(1)' class="inline pFont">{{data[1]}}</p>
	<input ng-model='data[6]' ng-blur='blur(1)' ng-show='flip[1]' class="input" placeholder='Enter Email Here'>
</div>

<div class="divBlock">
	<label class=labelFont>Birth Date</label>
	<p ng-hide='flip[2]' ng-click='click(2)' class="inline pFont">{{data[2]}}</p>
	<input ng-model='data[7]' ng-blur='blur(2)' ng-show='flip[2]' class="input" placeholder='Month, Day, Year'>
</div>

<div class="divBlock">
	<label class="labelFont">Company</label>
	<p ng-hide='flip[3]' ng-click='click(3)' class="inline pFont">{{data[3]}}</p>
	<input ng-model='data[8]' ng-blur='blur(3)' ng-show='flip[3]' class="input" placeholder='Your Company Here'>
</div>

<div class="BiodivBlock">
	<h3 class="labelFont">Bio</h3>
	<p ng-hide='flip[4]' ng-click='click(4)' class="inline pFont">{{data[4]}}</p>
	<input ng-model='data[9]' ng-blur='blur(4)' ng-show='flip[4]' class="input" placeholder='Enter Your Bio Here'>	
</div>
<input class="subBtn" type="submit">
</form>






</body>
</html>