<!DOCTYPE html>
<html ng-app='moduleOne'>
<head>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="cssjs6.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="javajs6.js"></script>
	<title>JS6</title>
</head>
<body ng-controller='controllerOne'>

<button ng-click='formOpen()' ng-show='!show'class="btn">Show Form</button>
<button ng-click='formClose()' ng-show='show' class="btn">Hide Form</button>

<div ng-show='show' ng-hide='hide'>
<form ng-submit='submit'>
	<div>
		<label>Shirtless Selfie</label>
		<!--<input ng-model=''type="image" > -->
	</div>
	<div class="formDiv">
		<label>Put Yer Name Here</label>	
		<input class="input" ng-model='name' placeholder="You're not as good as Tom">
	</div>
	<div class="formDiv">
		<label>Do You Even Read Bro?</label>	
		<input class="input" ng-model='books' placeholder="Tom read 50 Shades of Grey">
	</div>
	<div class="formDiv">
		<label>What's a Library?</label>
		<input class="input" ng-model='library' placeholder="Tom likes cats and Javascript">
	</div>
	<div class="formDiv">
		<label>a SHORT bio</label>
		<input class="input" ng-model='bio' placeholder="Tom hates friends">
	</div>
	<input class="btn" type="submit">
</form>
</div>
<div class="pContainer">
	<img src="">
	<div class="pfile">
		<h2>Name</h2>
		<p>{{data[0]}}</p>
	</div>
	<div class="pfile">
		<h2>Favorite Books</h2>
		<p>{{data[1]}}</p>
	</div>
	<div class="pfile">
		<h2>Favorite Javascript Library</h2>
		<p>{{data[2]}}</p>
	</div>
	<div class="pfile">
		<h2>Biography</h2>
		<p>{{data[3]}}</p>
	</div>

</div>

</body>
</html>