body {
	width: 920px;
}
.labelFont {
	font:16px;
	font-weight: bold;
	margin-left: 20px
}

.pFont {
	font:14px;
}

.inline {
	display: inline-block;
	width: 300px;
	margin-left: 10px;
	border:thin solid lightgrey;
	border-radius: 3px;
}
.divBlock {
	display: block;
	height: 52px;
	width: 920px;
	margin:10px 0 10px 10px;
	border:thin solid blue;
	border-radius: 5px;
}

.input {
    width: 300px;
    margin: 12px 0 10px 10px;
    border: thin solid lightgrey;
    border-radius: 3px;
}

.BiodivBlock {
	display: block;
	height: 120px;
	width: 920px;
	margin:10px 0 10px 10px;
	border:thin solid blue;
	border-radius: 5px;
}